
<h3>2016-04-21生产总览</h3>


<p>钻井</p>

<div class="skillbar clearfix " data-percent="50%">

	<div class="skillbar-title" style="background: #d35400;"><span>月开钻2口</span></div>
	<div class="skillbar-bar" style="background: #e67e22;width:50%;"><span>年开钻10口</span></div>
	<div class="skill-bar-percent">在钻井20口</div>
	
</div> <!-- End Skill Bar -->



<div class="skillbar clearfix " data-percent="25%">

	<div class="skillbar-title" style="background: #2980b9;"><span>日进尺4000米</span></div>

	<div class="skillbar-bar" style="background: #3498db;width:25%;"><span>日进尺10000米</span></div>

	<div class="skill-bar-percent">年进尺100000米</div>

</div> <!-- End Skill Bar -->
<p>累进尺100000米</p>
<hr />
<p>正试气井30口</p>
<hr />
<p>采气</p>
<div class="skillbar clearfix " data-percent="50%">

	<div class="skillbar-title" style="background: #2c3e50;"><span>关井数10口</span></div>

	<div class="skillbar-bar" style="background: #2c3e50;width:60%;"><span>开井数90口</span></div>

	<div class="skill-bar-percent">投产井数90口</div>

</div> <!-- End Skill Bar -->
<hr />
<p>井口气</p>

<div class="skillbar clearfix " data-percent="40%">

	<div class="skillbar-title" style="background: #46465e;"><span>日产气1000万方</span></div>

	<div class="skillbar-bar" style="background: #5a68a5;width:60%;"><span>月产气10000万方</span></div>

	<div class="skill-bar-percent"><span>年产气50000万方</span></div>

</div> <!-- End Skill Bar -->
<p>井口累产气5000000万方</p>
<hr />

<p>工业气</p>
<div class="skillbar clearfix " data-percent="75%">

	<div class="skillbar-title" style="background: #333333;"><span>日产气1000万方</span></div>

	<div class="skillbar-bar" style="background: #525252;width:75%;"><span>月产气10000万方</span></div>

	<div class="skill-bar-percent">年产气50000万方</div>

</div> <!-- End Skill Bar -->
<p>工业累产气5000000万方</p>
<hr />
<p>新井</p>

<div class="skillbar clearfix " data-percent="60%">

	<div class="skillbar-title" style="background: #27ae60;"><span>日产气50万方</span></div>

	<div class="skillbar-bar" style="background: #2ecc71;width:60%;"><span>日产气500万方</span></div>

	<div class="skill-bar-percent">年产气5000万方</div>

</div> <!-- End Skill Bar -->
<hr />
<p>产水</p>
<div class="skillbar clearfix " data-percent="66%">

	<div class="skillbar-title" style="background: #124e8c;"><span>日产水1419方</span></div>

	<div class="skillbar-bar" style="background: #4288d0;width:66%;"><span>月产水14190方</span></div>

	<div class="skill-bar-percent">年产水140000方</div>

</div> <!-- End Skill Bar -->
<p>累产水106504.751方</p>
<hr />
<p>销售</p>

<div class="skillbar clearfix " data-percent="60%">

	<div class="skillbar-title" style="background: #124e8c;"><span>日销量1000万方</span></div>

	<div class="skillbar-bar" style="background: #4288d0;width:60%;"><span>月销量10000万方</span></div>

	<div class="skill-bar-percent">月销量100000万方</div>

</div> <!-- End Skill Bar -->
<p>累销量(万方)582478.0126</p>
<hr />